CompileFlags:
  Add: 
    - -std=c++17
    - -DROCKSDB_SUPPORT_THREAD_LOCAL
    - -DMVOCC
    - -DBACKOFF
    - -DBOOST_ALLOW_DEPRECATED_HEADERS
    - -I/home/ruihong/Projects/MemoryEngine
    - -I/home/ruihong/Projects/MemoryEngine/include
    - -I/home/ruihong/Projects/MemoryEngine/txn
    - -I/home/ruihong/Projects/MemoryEngine/storage
    - -I/home/ruihong/Projects/MemoryEngine/tpcc
    - -I/home/ruihong/Projects/MemoryEngine/bench
    - -I/home/ruihong/Projects/MemoryEngine/utils
    - -I/home/ruihong/Projects/MemoryEngine/btr
  Remove:
    - -w
    - -Wall
    - -Wextra
    - -Wno-error
    - -Wno-unused
    - -Wno-format
    - -Wno-missing-field-initializers
    - -Wno-sign-compare
    - -Wno-type-limits
    - -Wno-unused-variable
    - -Wno-unused-value
    - -Wno-unused-parameter

Index:
  Background: Skip
  StandardLibrary: No

Diagnostics:
  ClangTidy:
    Add: []
    Remove:
      - '*'
  UnusedIncludes: None
  MissingIncludes: None

InlayHints:
  Enabled: No

Hover:
  ShowAKA: No

Completion:
  AllScopes: Yes
